{% extends "layout.html" %}
{% block body %}
    <!-- Page Header -->
    <header class="masthead"></header> <img src="{{ url_for('static', filename='images/slide4.jpg') }}">
    <div>
      <h1>About Bob's Blog </h1>
    </div>

    <!-- Main Content -->
    <div>
      <p></p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi amet sunt aliquam pariatur aspernatur rerum, ratione porro, ut similique excepturi veniam impedit, voluptatum quibusdam odio. Ullam velit quas laudantium quis et maiores, eius quod tenetur, inventore dolores quisquam. Id nesciunt velit quisquam eius consequatur tenetur repudiandae beatae temporibus porro, rem explicabo delectus architecto dolores libero sapiente harum facilis nobis quos quasi qui labore nisi ex hic! Modi eum, dolore vel est nesciunt error et cum dicta odio accusantium doloremque omnis eos nisi repellat laudantium molestiae esse iste fugit, expedita dolorem quos voluptates assumenda! Iste dolorum saepe magni impedit pariatur suscipit.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam reiciendis labore illo natus magnam quis, facere minus reprehenderit praesentium asperiores nihil eum quos quia, ipsa omnis numquam quidem inventore vel optio. Amet sit nobis optio enim error provident tempora minus eius in nihil mollitia quaerat placeat ab quas, ipsum dolorum?
      </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam molestiae aspernatur odio necessitatibus! Exercitationem ipsum et incidunt! Vero iure quos at provident maxime tenetur necessitatibus?</p>
    </div>

   {% endblock %}
